.card,
.card a {
  text-decoration: none;
  color: var(--color-secondary);
}

.card a:hover {
  background-color: var(--color-primary-muted);
  border-radius: var(--border-radius);
}

.card-cottage-details {
  display: flex;
}

.card-cottage-details div {
  display: flex;
  flex-basis: 50%;
  align-items: baseline;
}
