<article class="card card-cottage">
  <a class="block island-1-4" href="{{include.data.url}}">
    <div class="card-cottage-thumb embed embed-4by3">
      <img class="card-cottage-img embed-item" src="{{include.data.thumb}}" alt="">
    </div>
    <h3 class="card-cottage-title push-0 pad-t-1-2 peta">{{include.data.title}}</h3>
    <strong class="card-cottage-price mega">£ {{include.data.price}}</strong>
    <dl class="card-cottage-details push-0">
      <div>
        <dt class="push-0 push-r-1-4 italic">Beds</dt>
        <dd class="push-0">{{include.data.beds}}</dd>
      </div>
      <div>
        <dt class="push-0 push-r-1-4 italic">Baths</dt>
        <dd class="push-0">{{include.data.baths}}</dd>
      </div>
    </dl>
  </a>
</article>
