---
layout: default
desc: "Find the perfect old English Cottage to fulfill your lifelong dreams."
---

{% include patterns/banner/banner.html %}

<main role="main">
  <section class="gutter-1-2 pad-t-2 push-2">
    <h2 class="text-center push-0 exa">{{site.data.home.cottages.title}}</h2>
    <p class="text-center italic giga">{{site.data.home.cottages.text}}</p>

    <div class="grid">
      {% assign all_cottages = site.cottages | reverse %}
      {% for cottage in all_cottages limit:3 %}
        <div class="unit [ xs-1 s-1 m-1-3 ] island-1-4">
          {% include patterns/cards/cottage.html data=cottage %}
        </div>
      {% endfor %}
    </div>

    <div class="text-center gutter-1-2 pad-t">
      {% include patterns/buttons/button.html text=site.data.home.cottages.button url="/cottages/" extraclasses="btn-ghost giga" %}
    </div>
  </section>

  <hr>

  <section class="gutter-1 pad-t-2 pad-b-2 max-length">
    <h2 class="text-center push-0 exa">{{site.data.home.blog.title}}</h2>
    <p class="text-center italic giga">{{site.data.home.blog.text}}</p>

    {% for post in site.posts limit:2 %}
      <article class="">
        {% include patterns/cards/post.html data=post %}
      </article>
    {% endfor %}

    {% include patterns/buttons/button.html text=site.data.home.blog.button url="/blog/" extraclasses="btn-ghost" %}
  </section>
</main>
