.masthead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 50, 0, .5);

  color: #fff;
}

.masthead-logo,
.masthead-nav,
.masthead-contact {
  width: 100%;
}

.masthead-nav-list {
  display: flex;
  justify-content: center;
}

.masthead-link {
  color: #fff;
  text-decoration: none;
  border-bottom: .1em solid transparent;
}

.masthead-current {
  border-color: #fff;
}

.masthead-contact-link {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 38em) {

  .masthead {
    justify-content: space-between;
  }

  .masthead-logo {
    width: auto;
    margin-right: 3rem;
  }

  .masthead-nav {
    width: auto;
  }

  .masthead-contact {
    margin-left: auto;
    width: auto;
  }

}

@media only screen and (min-width: 60em) {

  .masthead {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }


}
