<header class="masthead bold gutter-1-2 pad-b-1-2 text-center {% if page.url == '/' %}masthead-above{% endif %}" role="banner">
  <div class="masthead-logo pad-t-1-2">
    {% if page.url == '/' %}
      <h1 class="logo tera push-0">RealCottages</h1>
    {% else %}
      <a href="/" class="logo tera">RealCottages</a>
    {% endif %}
  </div>
  <nav class="masthead-nav pad-t-1-2" role="navigation">
    <ul class="masthead-nav-list list-group push-0">
      <li><a class="masthead-link gutter-1-2 pad-t-1-4 pad-b-1-4 {% if page.url == '/' %}masthead-current{% endif %}" href="/">Home</a></li>
      <li><a class="masthead-link gutter-1-2 pad-t-1-4 pad-b-1-4 {% if page.url contains '/cottages' %}masthead-current{% endif %}" href="/cottages/">Cottages</a></li>
      <li><a class="masthead-link gutter-1-2 pad-t-1-4 pad-b-1-4 {% if page.url contains '/about' %}masthead-current{% endif %}" href="/about/">About</a></li>
    </ul>
  </nav>
  <div class="masthead-contact pad-t-1-2">
    <a class="masthead-contact-link giga ib" href="tel:{{site.data.site.tel}}">{{site.data.site.tel_display}}</a>
  </div>
</header>
