<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "RealEstateAgent",
    "@id": "#realcottages",
    "name": "RealCottages",
    "image": "https://realcottages.co.uk/images/uploads/me.jpg",
    "telephone": "{{site.data.site.tel}}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{site.data.site.location.street_address}}",
      "addressLocality": "{{site.data.site.location.locality}}",
      "addressRegion": "{{site.data.site.location.region}}",
      "addressCountry": "{{site.data.site.location.country}}"
    }
  }
</script>
