<div class="banner relative">
  <div class="banner-embed embed embed-24by10">
    <img class="banner-image embed-item" src="https://placehold.it/2400x1000" alt="">
  </div>
  <div class="banner-content island-1-2">
    <h2 class="push-1-2">New Life in an Old Cottage</h2>
    <p class="giga italic push">The dream of living in an old, stone and timber, vine-covered cottage can be yours.</p>
    <a class="btn btn-ghost mega bold" href="{{site.baseurl}}/cottages/">See cottages for sale</a>
  </div>
</div>
