.banner {
  background-color: var(--color-primary);
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.banner-img {
  background-position: center center;
  background-size: 100% auto;
}

.banner-content {

}

@media only screen and (min-width: 38em) {

  .banner-content {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 30em;
  }

}
